<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<input class="btn btn-success" type="submit" value="Submit" onclick="GetData();" />  
@Html.ActionLink("download","download",new { fileName = Url.Encode("test&.txt") })
@Html.ActionLink("download2", "download", new { fileName = "test&.txt" })
<a href="@Url.Encode("/Home/download?fileName=test&.txt")">content</a>
<script>
    function GetData() {
        $.ajax({
        url: '@Url.Action("CaptureUserData","Home")',
        data: JSON.stringify({
            IdentityNo: "1", FullName: "test", Gender: "m", PhoneNo: "000",
            PhoneNo1: "000",
            Email: "ooo", Category: "000", Password: "000"
        }),
        method: 'post',
        dataType: 'json',
        async: false,
        contentType: 'application/json;charset=utf-8',
        success: function (response) {
            alert('Success');
        },
        error: function (xhr, status, error) {
            alert(xhr.status);
        }
    });
}
</script>


